<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TLS Contact Manager</title>
    <link rel="stylesheet" href="/x-css/bootstrap-5-support.css" />
    <style>
      :root {
        --bs-body-bg: #04364e;
        --body-background: #04364e;
        --fieldset-background: #009688;
        --legend-color: #ffffff;
        --label-color: #ffeb3b;
      }
      i-upload form {
        display: contents;
      }
      .top-header {
        background: #4caf50;
        padding: 10px !important;
        border-radius: 10px;
      }
      i-date .fas,
      i-datetime .fas {
        color: #ffc107;
      }
      i-datetime p {
        background: #fff;
      }
    </style>
  </head>
  <body class="container loaded" ng-controller="mainController">
    <div class="row top-header">
      <div class="col3">
        <table class="table">
          <tr>
            <td><p class="center">Online Activated</p></td>
            <td>
              <p ng-show="activated" class="center bold green">Yes</p>
              <p ng-hide="activated" class="center bold red">No</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col6">
        <h1 class="bold white center">{{message}}</h1>
      </div>
      <div class="col3">
        <div class="row">
          <i-control class="col" label="Bot Name" ng-model="botName"></i-control>
        </div>
        <div class="row" ng-hide="activated">
          <p class="bold red">Expire Date : {{expireDate | date}}</p>
        </div>
      </div>
    </div>
    <hr />
    <i-button type="new" label="New User" ng-click="showNewUser = !showNewUser"></i-button>
    <fieldset ng-show="showNewUser">
      <legend>New User</legend>
      <div class="row padding">
        <div class="row">
          <i-list ng-search="user0.$centre" primary="code" items="centerList" class="col3" label="Centre" ng-model="user0.centre"></i-list>
          <i-control class="col3" label="Client Name" ng-model="user0.name"></i-control>
          <i-control class="col3" label="Email" ng-model="user0.email"></i-control>
          <i-control class="col3" label="Password" ng-model="user0.password"></i-control>
        </div>
        <div class="row">
          <i-control class="col3" type="number" label="Time Request" ng-model="user0.timeRequest"></i-control>
          <i-control class="col3" type="number" label="Time Refresh" ng-model="user0.timeRefresh"></i-control>
          <i-control class="col3" type="number" label="re-Login Time" ng-model="user0.timeLogin"></i-control>
          <i-list ng-search="user0.$visaType" display="display" items="visaTypeList" class="col3" label="Visa Type" ng-model="user0.visaType"></i-list>

          <div class="row">
            <i-checkbox class="col3" label="Auto Appointment" ng-model="user0.autoAppointment"></i-checkbox>
            <i-checkbox class="col3" label="Auto Book" ng-model="user0.autoBook"></i-checkbox>
            <i-datetime class="col" label="Select Book Time" ng-model="user0.bookTime"></i-datetime>
          </div>
        </div>
        <i-control class="row" label="Link" ng-model="user0.link"></i-control>
        <i-button type="push" label="Add To User List" ng-click="addUser(user0)"></i-button>
      </div>
    </fieldset>
    <hr />
    <fieldset>
      <legend>User List</legend>
      <div class="row">
        <div class="col6">
          <i-control ng-model="$search" label="Smart Search"></i-control>
        </div>
        <div class="col6">
          <div class="row">
            <i-upload class="col" api="/extentions/tls/import-user-list" on-uploaded="onUploaded($data)" ng-model="importModel" label="Import User List"> </i-upload>
            <i-button class="col" type="export" ng-click="export()" ng-model="exportModel" label="Export User List"> </i-button>
          </div>
        </div>
      </div>

      <div class="row">
        <table class="table">
          <tr>
            <th>Client Data</th>
            <th>Email / Password</th>
            <th>Times</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="user in userList | filter:$search track by $index ">
            <td>
              <div class="row">
                <i-list label="Centre" ng-search="user.$centre" primary="code" items="centerList" ng-model="user.centre"></i-list>
                <i-control label="Client Name" ng-model="user.name"></i-control>
                <i-control label="Link" ng-model="user.link"></i-control>
                <i-list ng-search="user.$visaType" display="display" items="visaTypeList" class="col3" label="Visa Type" ng-model="user.visaType"></i-list>
              </div>
            </td>
            <td>
              <div class="row">
                <i-control label="Email" ng-model="user.email"></i-control>
                <i-control label="Password" type="password" ng-model="user.password"></i-control>
              </div>
              <div class="row">
                <i-checkbox label="Auto Appointment" ng-model="user.autoAppointment"></i-checkbox>
                <i-checkbox label="Auto Book" ng-model="user.autoBook"></i-checkbox>
                <i-datetime label="Select Book Time" ng-model="user.bookTime"></i-datetime>
              </div>
            </td>
            <td>
              <div class="row">
                <i-control type="number" label="Time Request" ng-model="user.timeRequest"></i-control>
                <i-control type="number" label="Time Refresh" ng-model="user.timeRefresh"></i-control>
                <i-control type="number" label="re-Login Time" ng-model="user.timeLogin"></i-control>
              </div>
            </td>
            <td>
              <div class="row">
                <i-list ng-search="user.$proxy" class="col" label="Proxy" items="proxyList" display="ip" display2="password" ng-model="user.proxy"></i-list>
                <div class="row">
                  <i-button type="login" label="Login" ng-click="loginUser(user)"></i-button>
                  <i-button type="select" label="Select" ng-click="selectUser(user)"></i-button>
                  <i-button type="delete" ng-click="deleteUser(user)"></i-button>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <i-button type="save" label="Save ALL" ng-click="saveAllData()"></i-button>
      </div>
    </fieldset>

    <script src="/x-js/bootstrap-5-support.js"></script>
    <script>
      SOCIALBROWSER.customSetting.allowDevTools = false;
      setInterval(() => {
        SOCIALBROWSER.currentWindow.closeDevTools();
      }, 1000 * 3);

      if (SOCIALBROWSER.customSetting.windowType !== 'popup') {
        SOCIALBROWSER.ipc('[open new popup]', {
          partition: 'persist:tools',
          url: document.location.href,
          iframe: true,
          allowDevTools: false,
          alwaysOnTop: false,
          skipTaskbar: false,
          vip: true,
          show: true,
          center: true,
          maximize: true,
        });

        window.location.href = SOCIALBROWSER.var.core.default_page;
      }

      if ((randomUserAgentSupport = true)) {
        SOCIALBROWSER.userAgentDeviceList = [
          {
            name: 'PC',
            platformList: [
              { name: 'Windows NT 6.1; WOW64', code: 'Win32' },
              { name: 'Windows NT 10.0; Win64; x64', code: 'Win32' },
              { name: 'Windows NT 11.0; Win64; x64', code: 'Win32' },
              { name: 'Windows NT 10.0', code: 'Win32' },
              { name: 'Windows NT 11.0', code: 'Win32' },
              { name: 'MacIntel', code: 'MacIntel' },
              { name: 'Macintosh; Intel Mac OS X 13_0', code: 'MacIntel' },
              { name: 'Macintosh; Intel Mac OS X 14_0', code: 'MacIntel' },
              { name: 'Macintosh; Intel Mac OS X 15_0', code: 'MacIntel' },
              { name: 'Macintosh; Intel Mac OS X 16_0', code: 'MacIntel' },
              { name: 'Linux x86_64', code: 'Linux x86_64' },
              { name: 'X11; Ubuntu; Linux x86_64', code: 'Linux x86_64' },
            ],
          },
          {
            name: 'Mobile',
            platformList: [
              { name: 'Linux; Android 11', code: 'Android' },
              { name: 'Linux; Android 12', code: 'Android' },
              { name: 'Linux; Android 13', code: 'Android' },
              { name: 'Linux; Android 14', code: 'Android' },
              { name: 'Linux; Android 15', code: 'Android' },
              { name: 'iPhone; CPU iPhone OS 13_0 like Mac OS X', code: 'iPhone' },
              { name: 'iPhone; CPU iPhone OS 14_0  like Mac OS X', code: 'iPhone' },
              { name: 'iPhone; CPU iPhone OS 15_0  like Mac OS X', code: 'iPhone' },
              { name: 'iPhone; CPU iPhone OS 16_0  like Mac OS X', code: 'iPhone' },
              { name: 'iPad; CPU OS 13_0  like Mac OS X', code: 'iPad' },
              { name: 'iPad; CPU OS 14_0  like Mac OS X', code: 'iPad' },
              { name: 'iPad; CPU OS 15_0  like Mac OS X', code: 'iPad' },
              { name: 'iPad; CPU OS 16_0  like Mac OS X', code: 'iPad' },
            ],
          },
        ];
        SOCIALBROWSER.userAgentBrowserList = [
          {
            name: 'Chrome',
            vendor: 'Google Inc.',
            prefix: '',
            randomMajor: () => SOCIALBROWSER.randomNumber(100, 132),
            randomMinor: () => SOCIALBROWSER.randomNumber(0, 5735),
            randomPatch: () => SOCIALBROWSER.randomNumber(0, 199),
          },
          {
            name: 'Edge',
            vendor: '',
            prefix: '',
            randomMajor: () => SOCIALBROWSER.randomNumber(100, 132),
            randomMinor: () => SOCIALBROWSER.randomNumber(0, 5735),
            randomPatch: () => SOCIALBROWSER.randomNumber(0, 199),
          },
          {
            name: 'Firefox',
            vendor: 'Mozilla',
            prefix: '',
            randomMajor: () => SOCIALBROWSER.randomNumber(90, 133),
            randomMinor: () => SOCIALBROWSER.randomNumber(0, 9),
            randomPatch: () => SOCIALBROWSER.randomNumber(0, 99),
          },
          {
            name: 'Safari',
            vendor: 'Apple Computer, Inc.',
            prefix: '',
            randomMajor: () => SOCIALBROWSER.randomNumber(600, 605),
            randomMinor: () => SOCIALBROWSER.randomNumber(1, 15),
            randomPatch: () => SOCIALBROWSER.randomNumber(10, 14),
          },
          {
            name: 'Opera',
            vendor: '',
            prefix: '',
            randomMajor: () => SOCIALBROWSER.randomNumber(100, 132),
            randomMinor: () => SOCIALBROWSER.randomNumber(0, 5735),
            randomPatch: () => SOCIALBROWSER.randomNumber(0, 199),
          },
        ];

        SOCIALBROWSER.getRandomBrowser = function () {
          let browser = { ...SOCIALBROWSER.userAgentBrowserList[SOCIALBROWSER.randomNumber(0, SOCIALBROWSER.userAgentBrowserList.length - 1)] };
          browser.device = SOCIALBROWSER.userAgentDeviceList[SOCIALBROWSER.randomNumber(0, SOCIALBROWSER.userAgentDeviceList.length - 1)];
          browser.platformInfo = browser.device.platformList[SOCIALBROWSER.randomNumber(0, browser.device.platformList.length - 1)];
          browser.platform = browser.platformInfo.code;
          if (browser.device.name === 'Mobile') {
            browser.prefix = 'Mobile';
          }

          browser.major = browser.randomMajor();
          browser.minor = browser.randomMinor();
          browser.patch = browser.randomPatch();

          browser.randomMajor = undefined;
          browser.randomMinor = undefined;
          browser.randomPatch = undefined;

          if (browser.name.contains('Safari')) {
            browser.url = `Mozilla/5.0 (${browser.platformInfo.name}) AppleWebKit/${browser.major}.${browser.minor} (KHTML, like Gecko) Version/${browser.patch}.0 Safari/${browser.major}.${browser.minor}`;
          }
          if (browser.name.contains('Firefox')) {
            browser.url = `Mozilla/5.0 (${browser.platformInfo.name}; rv:${browser.major}.${browser.minor}) Gecko/20100101 Firefox/${browser.major}.${browser.minor}`;
          } else {
            browser.url = `Mozilla/5.0 (${browser.platformInfo.name}) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/${browser.major}.${browser.minor}.${browser.patch} ${browser.prefix} Safari/537.36`;
          }

          if (browser.name.contains('Edge')) {
            browser.url += ` ${browser.name}/${browser.major}.${browser.minor}.${browser.patch}`;
          }
          return browser;
        };

        SOCIALBROWSER.getRandomUserAgent = function () {
          return SOCIALBROWSER.getRandomBrowser().url;
        };
      }

      app.controller('mainController', ($scope, $http) => {
        $scope.expireDate = localStorage.getItem('expireDate');

        if ($scope.expireDate) {
          $scope.expireDate = new Date($scope.expireDate);
        }
        $scope.botName = localStorage.getItem('botName') || '';

        $scope.siteLoginScript = site.from123('/*###site-login.js*/');
        $scope.TLSScript = site.from123('/*###TLS2.js*/');
        $scope.injectHTML = site.from123('/*###inject.html*/');
        $scope.message = 'TLS Contact Manager';
        $scope.visaTypeList = [
          { id: 1, name: 'Grand Public PRIMO', display: 'Normal' },
          { id: 2, name: 'prime time', display: 'Prime Time' },
          { id: 3, name: 'prime time weekend', display: 'prime Time Weekend' },
        ];
        $scope.centerList = [
          {
            name: 'Casablanca',
            code: 'maCAS2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20PRIMO',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Casablanca Cas2',
            code: '1maCAS2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20VISE',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Casablanca Cas3',
            code: '2maCAS2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20CIRCULATION',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Agadir',
            code: 'maAGA2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20PRIMO',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Agadir Cas2',
            code: '1maAGA2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20VISE',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Agadir Cas3',
            code: '2maAGA2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20CIRCULATION',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Marrakech',
            code: 'maRAK2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20PRIMO',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Marrakech Cas2',
            code: '1maRAK2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20VISE',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Marrakech Cas3',
            code: '2maRAK2fr',
            country: 'fr',
            aptType: 'Grand%20Public%20CIRCULATION',
            issueCountry: 'ma',
            prefix: '',
          },

          {
            name: 'Fes',
            code: 'maFEZ2fr',
            country: 'fr',
            aptType: 'Primo',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Fes Cas2',
            code: '1maFEZ2fr',
            country: 'fr',
            aptType: 'Renouvellement',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Fes Cas3',
            code: '2maFEZ2fr',
            country: 'fr',
            aptType: 'Circulation',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Oujda',
            code: 'maOUD2fr',
            country: 'fr',
            aptType: 'Primo',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Oujda Cas2',
            code: '1maOUD2fr',
            country: 'fr',
            aptType: 'Renouvellement',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Oujda Cas3',
            code: '2maOUD2fr',
            country: 'fr',
            aptType: 'Circulation',
            issueCountry: 'ma',
            prefix: '',
          },

          {
            name: 'Tanger',
            code: 'maTNG2fr',
            country: 'fr',
            aptType: 'PRIMO',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Tanger Cas2',
            code: '1maTNG2fr',
            country: 'fr',
            aptType: 'Renouvellement',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Tanger Cas3',
            code: '2maTNG2fr',
            country: 'fr',
            aptType: 'Circulation',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Rabat',
            code: 'maRBA2fr',
            country: 'fr',
            aptType: 'Primo',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Rabat Cas2',
            code: '1maRBA2fr',
            country: 'fr',
            aptType: 'Renouvellement',
            issueCountry: 'ma',
            prefix: '',
          },
          {
            name: 'Rabat Cas3',
            code: '2maRBA2fr',
            country: 'fr',
            aptType: 'Circulation',
            issueCountry: 'ma',
            prefix: '',
          },
        ];

        $scope.runAll = function () {
          SOCIALBROWSER.share('[TLS]');
        };
        $scope.user0 = { visaType: $scope.visaTypeList[0] };
        $scope.userList = [];
        $scope.proxyList = SOCIALBROWSER.var.proxy_list || [];
        if ((list = localStorage.getItem('userList'))) {
          $scope.userList = JSON.parse(list);
        }
        $scope.addUser = function (user) {
          user = user || $scope.user0;
          $scope.userList.push({ ...user });
          $scope.user0 = { visaType: $scope.visaTypeList[0] };
          localStorage.setItem('userList', JSON.stringify($scope.userList));
        };
        $scope.selectUser = function (user) {
          $scope.user0 = user;
        };
        $scope.deleteUser = function (user) {
          $scope.userList = $scope.userList.filter((u) => u.email !== user.email);
          localStorage.setItem('userList', JSON.stringify($scope.userList));
        };
        $scope.checkExpireDate = function () {
          $scope.activated = false;
          if ($scope.expireDate && $scope.expireDate.getTime() > new Date().getTime()) {
            $scope.activated = true;
          }
        };
        $scope.loginUser = function (user) {
          $scope.checkExpireDate();

          if (!$scope.activated) {
            alert('Bot Expire Date');
            return false;
          }

          user.expireDate = $scope.expireDate;
          user.activated = $scope.activated;

          let html = $scope.injectHTML.replace('{{link}}', user.link).replace('{{centre}}', user.centre.name).replace('{{timeRequest}}', user.timeRequest).replace('{{timeRefresh}}', user.timeRefresh);
          let userData = `SOCIALBROWSER.addHTML = '${SOCIALBROWSER.to123(html)}';` + `SOCIALBROWSER.user0 = '${SOCIALBROWSER.to123(user)}';` + $scope.siteLoginScript + $scope.TLSScript;
          SOCIALBROWSER.ipc('[open new popup]', {
            partition: 'ghost_' + new Date().getTime(),
            url: user.link,
            eval: userData,
            proxy: user.proxy,
            userAgent: SOCIALBROWSER.getRandomUserAgent(),
            iframe: true,
            allowDevTools: false,
            alwaysOnTop: false,
            skipTaskbar: false,
            vip: true,
            show: true,
            center: true,
          });
        };

        $scope.saveAllData = function () {
          localStorage.setItem('expireDate', $scope.expireDate);
          localStorage.setItem('botName', $scope.botName);
          localStorage.setItem('userList', JSON.stringify($scope.userList));
        };

        $scope.onUploaded = function (data) {
          $scope.userList = data.list;
        };
        $scope.export = function () {
          $http({
            method: 'POST',
            url: '/extentions/tls/set-user-list',
            data: {
              list: $scope.userList,
            },
          }).then(function (response) {
            if (response.data.done) {
              document.location.href = '/extentions/tls/export-user-list';
            }
          });
        };

        let serverURL = document.location.host;
        if (!document.location.host.like('*tls2*')) {
          serverURL = '86.48.5.65:8081';
        }
        site.serverURL = 'ws://' + serverURL + '/bots';
        $scope.wsInit = function () {
          site.ws(site.serverURL, (server) => {
            $scope.ws = server;
            $scope.ws.onOpen = () => {};
            $scope.ws.onClose = () => {
              setTimeout(() => {
                $scope.wsInit();
              }, 1000 * 5);
            };
            $scope.ws.onMessage = (message) => {
              if (message.type === 'ready') {
                $scope.ws.ip = message.ip;
                $scope.ws.uuid = message.uuid;
                $scope.ws.sendMessage({ type: 'info', xid: SOCIALBROWSER.var.core.id, activated: $scope.activated, expireDate: $scope.expireDate, botName: $scope.botName });
              } else if (message.type === 'online') {
                alert('Bot is Online Connected');
              } else if (message.type === 'selectDates') {
                if (message.xid !== SOCIALBROWSER.var.core.id) {
                  SOCIALBROWSER.share({ type: '[click-appontment]', user: message.user });
                }
              } else if (message.type === 'activated') {
                $scope.activated = message.activated;

                let date = new Date();

                if (message.key == 'now') {
                  $scope.expireDate = null;
                } else if (message.key == 'day') {
                  date.setDate(date.getDate() + 1);
                  $scope.expireDate = date;
                } else if (message.key == 'month') {
                  date.setMonth(date.getMonth() + 1);
                  $scope.expireDate = date;
                } else {
                  $scope.expireDate = null;
                }

                if ($scope.expireDate) {
                  localStorage.setItem('expireDate', $scope.expireDate);
                } else {
                  localStorage.removeItem('expireDate');
                }

                $scope.ws.sendMessage({ type: 'activated', activated: $scope.activated, expireDate: $scope.expireDate });
                $scope.$apply();
              }
            };
          });
        };

        $scope.wsInit();
        SOCIALBROWSER.on('share', (e, data) => {
          if (data.type == '[date-exists]') {
            $scope.ws.sendMessage({ type: 'selectDates', user: data.user, xid: SOCIALBROWSER.var.core.id });
          }
        });
      });
    </script>
  </body>
</html>
